asyncio==3.4.3
cached-property==1.5.2
cffi==1.15.0
pillow==8.4.0; python_version >= "3.6"
pycparser==2.21; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0"
redis==3.5.3; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.5.0")
watchdog==2.1.6; python_version >= "3.6"
